@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-family: --font-lato;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
@layer base {
    html,
    body {
        @apply font-sans;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family);
}

h1 {
    font-family: var(--font-mollie);
}

